*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary: #2f93ef;
  --prompt: #380b2b;
  --total-white: #ededed;
}

body{
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--total-white);
}

main{
  padding: 2rem;
  margin: 0 auto;
}

.container{
  max-width: 65%;
}

.getip{
  display: flex;
  justify-content: center;
}

.getip input{
  width: 4rem;
  height: 1.5rem;
  margin: 0 1rem;
  border: 1.5px solid #2f93ef;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}