*, .app{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary: #2f93ef;
  --prompt: #380b2b;
  --total-white: #ededed;
}

body{
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--total-white);
}

main{
  max-width: 65%;
  margin: 1rem auto;
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.getip{
  display: flex;
  justify-content: center;
}

.getip input{
  padding: 15px 10px;
  font-size: larger;
  /* text-align: center; */
  min-width: 3ch;
  height: 1.5rem;
  margin: 0 1px;
  border: 1.5px solid #2f93ef;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.ip-results{
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ip-results h1{
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.ip-values{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ip-values p{
  padding: 3px;
  text-align: center;
  min-width: 9ch;
  height: 1.5rem;
  margin: 0.3rem;
  border: 1.5px solid #2f93ef;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  background-color: var(--total-white);
}


@media screen and (min-width: 768px) {
  
}